<a href="https://colab.research.google.com/github/ga0808/sql/blob/main/New%EC%8B%A4%EC%8A%B54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 실습 1 - GROUP BY

# -- rental테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC rental;

# -- 누가 몇권의 책을 빌려갔는지 조회해 봅시다.
SELECT user_id, COUNT(*)  #집계하지 않으면 book_id 해보면 알겠지만, 중복데이터 있을때는 첫번째 행의 값을 조회
FROM rental               #유저 한명이 대여한 책이 많을텐데, 그 중 하나만 보인 다는 것
GROUP BY user_id;

In [ ]:
# 실습 2 - GROUP BY 2

# -- salaries 테이블에서 emp_no과 직원별로 연봉을 받은 횟수를 조회해보세요.
SELECT emp_no, COUNT(*)
FROM salaries
GROUP BY emp_no
;

교안으로

In [ ]:
#퀴즈 2 - 3


# 실습 3 - HAVING
# -- rental테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC rental;


# -- 누가 몇권의 책을 빌려갔는지 조회해 봅시다.
# -- 이때 두권 이상 빌린 사람들만 조회해 봅시다.
select user_id, COUNT(*)
from rental
group by user_id
having COUNT(*) >= 2;

In [ ]:
# 실습 4 - HAVING 2
# -- salaries 테이블에서 emp_no과 직원별로 연봉을 받은 횟수를 조회하되
# 연봉을 10번 이상 받은 직원만 조회해보세요.

#해당 테이블의 한 행은 = 한 사람이 해당 기간(1년)에 받은 연봉에 대한 데이터
SELECT emp_no, COUNT(*)
FROM salaries
GROUP BY emp_no
HAVING COUNT(*) > 10
;

교안으로

In [ ]:
#퀴즈 3 - 2
#퀴즈4 - on

In [ ]:
# 실습 5 - Inner join

# -- 대출,반납에 대한 정보를 user 테이블과 연결해 조회해 봅시다.
select *
from rental
inner join user;

#어떻게 합칠지 조건이 없으면 - 모든 행의 조합으로 결과가 나옴

교안으로

In [ ]:
# 실습 6

# -- 대출,반납에 대한 정보를 user 테이블과 연결해 조회해 봅시다.
select * from rental
inner join user
on rental.user_id = user.id
;

In [ ]:
# 실습 7

# -- 연봉에 대한 정보를 employees 테이블과 연결해 조회해 봅시다.
SELECT * FROM salaries
INNER JOIN employees
ON salaries.emp_no = employees.emp_no;

교안으로

In [ ]:
#퀴즈 - left join



# 실습 8

# -- 대출,반납에 대한 정보를 user 테이블과 연결해 조회해 봅시다.
# -- 대신 rental 테이블이 중심이 되도록 조회해 봅시다.
select * from rental
left join user
on rental.user_id = user.id ;

#user 테이블에 정보가 없는 유저들은 null
# --> 대여 기록은 있는데, 유저 정보는 없는 1010,1011,1012 -> 대여 이용하다가, 탈퇴 한 것 같음

In [ ]:
# 실습 9

# -- 연봉에 대한 정보를 employees 테이블과 연결해 조회하되 salaries 테이블을 중심으로 조회해보세요.
SELECT * FROM salaries
LEFT JOIN employees
ON salaries.emp_no = employees.emp_no;

#연봉을 받았던 기록을 가진 사원들은 현재 사원 테이블에 없다하더라도 존재할 수 있도록 가져옴
# 10004 사원 같은 경우에는
# -> salaries 기록은 있음 = 연봉 받았던 기록은 있음
# -> 그러나 현재 employees에는 기록이 없음 = 현재 사원이 아님
# == 이전에 다닐때 연봉 정보가 기록이 있지만, 현재 퇴사해서 직원 정보가 없는 것으로 추론됨

교안으로

In [ ]:
#퀴즈 - right join


# 실습 10
# -- 대출,반납에 대한 정보를 user 테이블과 연결해 조회해 봅시다.
# -- 대신 user테이블이 중심이 되도록 해 봅시다.
select * from rental
right join user
on rental.user_id = user.id
;

#user 정보는 있는데, rental 정보는 없는 유저의 정보들도 모두 가지고 옴
# -> 1003,1004 같은 경우에는 유저 테이블= right 테이블에만 존재하는 유저
# -> 회원 등록은 했는데, 아직 대여한 적이 없어서 rental 테이블에 기록이 없는 유저

In [ ]:
# 실습 11

# -- 연봉에 대한 정보를 employees 테이블과 연결해 조회하되 employees 테이블을 중심으로 조회해보세요.
SELECT * FROM salaries
RIGHT JOIN employees
ON salaries.emp_no = employees.emp_no;

#salaries에는 없다하더라도 = 연봉 정보가 없다하더라도,
# employees에는 있는 사원의 정보 = 지금 사원으로 존재하는 사람들의 정보 들 또한 존재함
# -> 10005 유저는 employees 테이블 = right 에만 존재하는 테이블인데 join 결과에 반영됨
# -> 현재 사원으로 입사해서, 사원 정보로 존재하지만 아직 1년이 안채워져서 연봉 정보는 기록이 없는 것

교안으로

In [ ]:
# 미션 1 : 없는 것 같음
# -- 판매기록을 product 테이블과 연결해 출력해 봅시다.
# -- 이때 product테이블이 중심이 되도록 해 봅시다.
select * from sale
right join product
on sale.product_id = product.id ;

#product에만 있는 product_id라고 하더라도 가져옴
#왼쪽인 sale에만 있는 product_id는 안가져옴

In [ ]:
# 미션 2

# -- 지시사항을 만족하는 쿼리를 작성해보세요.
SELECT name, SUM(amount)
FROM sale
GROUP BY name
HAVING SUM(revenue) >= 50000;

In [ ]:
# 미션 3
# -- 지시사항을 만족하는 쿼리를 작성해보세요.
SELECT *
FROM employees
GROUP BY dept;
#그룹화를 진행해서, 그룹마다 하나의 값으로 집계가 되어야하는데
#집계 수행안하고 있어서
#부서별 데이터 그룹마다, 존재하는 첫번째 행의 데이터(id, name)을 부서별로 출력하고 있는 것

SELECT dept, COUNT(id) #이렇게 부서별로 id 개수를 세어도 정확하겠지만
FROM employees
GROUP BY dept;


SELECT dept, COUNT(*) #출력결과와 같이 컬럼명을 맞춰줘야함. 똑같은 결과이라고 하더라도 채점이 잘 안될 수 있음
FROM employees
GROUP BY dept;