<a href="https://colab.research.google.com/github/ga0808/sql/blob/main/New%EC%8B%A4%EC%8A%B53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 퀴즈 1 - 3

In [ ]:
# 실습 1

# 아래에 book테이블의 자료의 수와 user테이블의 자료의 수를 차례대로 조회해 봅시다.
SELECT COUNT(*)
FROM book;
# COUNT(*) - 모든 행의 수 (null 여부 안따짐)
# COUNT(title) - title 컬럼에서 null 제외한 행의 수

SELECT COUNT(*)
FROM user;

In [ ]:
# 실습 2

# employees테이블의 자료의 수를 조회해 봅시다.
SELECT COUNT(*)
FROM employees;

교안으로

In [ ]:
# 퀴즈 2 - 1
#행의 수를 컨트롤 하는 조건같은 친구 > 맨 끝에 따로 명시

In [ ]:
# 실습 3

# book테이블의 모든 컬럼을 조회해 봅시다. 단 5권만 잘라서 출력해야 합니다.
select * from book
limit 5;

In [ ]:
# 실습 4

# salaries테이블의 모든 컬럼을 조회해 봅시다. 단 5개만 잘라서 출력해야 합니다.
SELECT * FROM salaries
LIMIT 5;

In [ ]:
# 퀴즈3 - 1

In [ ]:
# 실습 5

# salary테이블의 연봉의 합을 구해봅시다.
SELECT SUM(salary)
FROM salaries
;

In [ ]:
# 실습 6
# 학생들의 성적이 담겨있는 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC grade
;

# 학생들의 성적의 평균을 조회합니다.
SELECT avg(korean), avg(english), avg(math)
FROM grade
;

In [ ]:
# 실습 7
# salary테이블의 연봉의 평균을 구해봅시다.
SELECT AVG(salary)
FROM salaries;

교안으로

In [ ]:
# 퀴즈4 - 2

In [ ]:
# 실습 8

# 학생들의 성적이 담겨있는 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC student;

# 가장 높은 국어성적을 조회합니다.
SELECT max(korean)
FROM student;

#   문자열 A<Z<a<z

In [ ]:
# 실습 9

#가장 많은 연봉액을 구해봅시다.
SELECT MAX(salary)
FROM salaries;

In [ ]:
# 실습 10

# 가장 적은 연봉액을 구해봅시다.
SELECT MIN(salary)
FROM salaries;

In [ ]:
# 미션 1 : 가게 db

# 아래에 미션을 수행하는 쿼리를 작성해 보세요.
#1.
select count(*) from product;

#2.
select sum(stock) from product;

#3.
select max(selling_price) from product;

In [ ]:
# 미션 2 : 평균 구하기
# -- 지시사항을 만족하는 쿼리를 작성해보세요.
SELECT AVG(math), AVG(eng)
FROM test;