<a href="https://colab.research.google.com/github/ga0808/sql/blob/main/%EC%8B%A4%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ddl, dml, dcl, tcl

In [ ]:
#실습 1
# 아래에 hire_date가 1997-07-07인 직원만 조회하는 쿼리를 작성해주세요.
SELECT * FROM employees
WHERE hire_date LIKE '1997-07-07';

교안으로

In [ ]:
# 실습 2

# 책들의 정보가 담겨있는 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC book;

# 아래에 제목이 The Little로 시작하는 책만 조회하는 쿼리를 작성해주세요.
select * from book
where title like 'The Little%';

# 아래에 제목에 and가 포함된 책만 조회하는 쿼리를 작성해주세요.
select * from book
where title like '%and%';

# 아래에 제목이 Rings로 끝나는 책만 조회하는 쿼리를 작성해주세요.
select * from book
where title like '%Rings';

In [ ]:
# 실습 3

# 아래에 hire_date에 7이 들어가는 직원을 조회하는 쿼리를 작성해주세요.
SELECT * FROM employees
WHERE hire_date
LIKE '%7%';

In [ ]:
# 퀴즈 1
# LIKE

교안으로

In [ ]:
# 실습 4 - ORDER RBY

# book 테이블의 구조를 조회합니다. 수정하실 필요는 없습니다.
DESC book;

# book 테이블의 내용을 조회해 봅시다. 이때 책 제목을 기준으로 오름차순으로 조회해 봅시다.
SELECT * FROM book
ORDER BY title ASC;

In [ ]:
# 실습 5 - ORDER BY2

# salaries 테이블의 내용을 출력해 봅시다. 이때 연봉액 제목을 기준으로 오름차순으로 출력해 봅시다.
SELECT * FROM salaries
ORDER BY salary ASC;

In [ ]:
#퀴즈2 - 2

교안으로

In [ ]:
#미션 3

# 아래에 미션을 수행하는 코드를 작성해 봅시다.
select * from shareholder
order by stock desc;

In [ ]:
# update 실습 예씨
#
# # SELECT문을 이용해 book테이블을 조회하는 쿼리를 작성해주세요.

INSERT INTO book
VALUES(1010, "a", "aa", "aaa","2024-01-01" );


INSERT INTO book
VALUES(1011, "a", "bb", "bbb","2024-01-01" );

UPDATE book
SET title = "a1"
WHERE title = "a"
;


SELECT * FROM book;